@model FE.Models.Solicitud

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioEncargado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioEncargado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.DescripcionEstado)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.DescripcionTipo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Contrasenna)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSolicitud" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
