@model FE.Models.Solicitud

@{
    ViewData["Title"] = "Delete";
}



<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
Comentario solicitante:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioSolicitante)
        </dd>
        <dt class = "col-sm-2">
Comentario encargado:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioEncargado)
        </dd>
        <dt class = "col-sm-2">
Fecha de peticion:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmicion)
        </dd>
@*        <dt class = "col-sm-2">
Estado:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.DescripcionEstado)
        </dd class>
        <dt class = "col-sm-2">
Tipo de solicitud:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.DescripcionTipo)
        </dd class>
        <dt class = "col-sm-2">
Usuario:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Contrasenna)
        </dd class>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSolicitud" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
