@model IEnumerable<FE.Models.Solicitud>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Solicitudes</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Comentario Solicitante</th>
                            <th>Comentario Encargado</th>
                            <th>Fecha Emicion</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComentarioSolicitante)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComentarioEncargado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaEmicion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdEstado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdTipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUsuario)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdSolicitud">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.IdTipo">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdSolicitud">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
