@model FE.Identity.Models.Solicitud

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioEncargado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioEncargado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.DescripcionEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.DescripcionTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Contrasenna)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSolicitud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
