@model IEnumerable<FE.Models.HorasExtra>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Crear nuevo</a>
</p>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Horas Extra</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>HoraInicio</th>
                            <th>HoraFin</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoraInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoraFin)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.IdUsuario)
                                </th>
                                <td>
@*                                    <a asp-action="Edit" asp-route-id="@item.IdHE">Editar</a> |*@
                                    <a asp-action="Details" asp-route-id="@item.IdHE">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdHE">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
