@model FE.Models.InfoContactoUsuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InfoContactoUsuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompletoContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompletoContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolContNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolContNavigation.DescRolCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Contrasenna)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdInfo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
